<h2>Set up your ships!!!</h2>
<hr>
<div class="ship-error text-danger">
	<h3>&nbsp;{{ errorMessage }}</h3>
</div>
<div class="well container-fluid">
	<div class="row">
		<div class="col-lg-7">
			<app-field [field]="battlefield" [isOpponent]="false" [isEndGame]="false" (cellClick)="cellClick($event)"></app-field>
		</div>
		<div class="col-lg-5">
			<div class="ship-types pull-left">
				<ul>
					<li *ngFor="let t of ShipType | enumToKeyArray" class="m-2">
						<button (click)="selectType(t)"
								[ngClass]="{ 'btn': true, 'btn-primary': t == ShipType[selectedType] }">
							{{ t }}
						</button>
					</li>
				</ul>
			</div>
			<button *ngIf="!isAllShipsSet()" (click)="createShip()" class="btn btn-success">Create Ship</button>
			<button *ngIf="isAllShipsSet()" (click)="readyToBattle()" class="btn btn-warning">Ready</button>
			<div>
				<b>Total ships</b>
				<ul>
					<li>
						SUBMARINEs: {{ getCurrentNumberOfShipsBySize(gameConfiguration.SIZE_SUBMARINE) }} 
						(max: {{ gameConfiguration.NUMBER_SUBMARINE }})
				</li>
					<li>
						DESTROYERs: {{ getCurrentNumberOfShipsBySize(gameConfiguration.SIZE_DESTROYER) }} 
						(max: {{ gameConfiguration.NUMBER_DESTROYER }})
					</li>
					<li>
						CRUISERs: {{ getCurrentNumberOfShipsBySize(gameConfiguration.SIZE_CRUISER) }} 
						(max: {{ gameConfiguration.NUMBER_CRUISER }})
					</li>
					<li>
						BATTLESHIPs: {{ getCurrentNumberOfShipsBySize(gameConfiguration.SIZE_BATTLESHIP) }} 
						(max: {{ gameConfiguration.NUMBER_BATTLESHIP }})
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>