
<div class="player-info" *ngIf="player.status == PlayerStatus.none">
	<div>
		<h3>Your Nickname: {{ player.nickname }}</h3><br>
		<input type="text" [(ngModel)]="inputNickname">
		<button (click)="saveNickname()" class="btn btn-dark">Save</button><br>
	</div>
	<!-- <h2>Current info (nickname - id)</h2> -->
	<!-- <i>{{ player.nickname }} - {{ player.id }}</i> -->
	<img class="ship-image" src="/assets/images/main_ship.png"/>
</div>

<div align="center">
	<app-rooms *ngIf="player.status == PlayerStatus.none"></app-rooms>

	<!-- waiting for another player -->
	<div *ngIf="player.status == PlayerStatus.joined" class="text-center">
		<h1>
			YOU: ({{ player.nickname }})
			<br>
			<!-- ID: {{ player.id }} -->
		</h1>
		<hr><h3>VS</h3><hr>
		<h1>???</h1><br>
		<h4>waiting opponent ...</h4>
		<img class="pirate-opponent" src="/assets/images/pirate.png"/>
	</div>

	<app-preparing *ngIf="player.status == PlayerStatus.preparing" (readyFunction)="readyToBattle($event)"></app-preparing>

	<div *ngIf="player.status == PlayerStatus.ready"><h2>Wait an opponent set up ships!</h2></div>

	<app-battle-process *ngIf="player.status == PlayerStatus.playing">Game proccess ...</app-battle-process>

	<h1 class="text-center" *ngIf="player.status == PlayerStatus.disconnected">You were disconnected =(</h1>
</div>