<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Rooms</h2>
	</div>
	<div class="panel-body">
		<div *ngFor="let room of rooms" class="well" >
			<p>Room: <b>{{ room.roomId }}</b></p>

			<button (click)="deleteRoom(room)" class="btn btn-danger pull-right">Delete Room</button>

			<button (click)="joinToRoom(room)" 
					class="btn btn-info pull-left" 
					*ngIf="!room.firstPlayer || !room.secondPlayer">
				Join
			</button>
			<p class="text-center">
				<span *ngIf="room.firstPlayer">{{ room.firstPlayer.nickname }}</span>
				<b>VS</b>
				<span *ngIf="room.secondPlayer">{{ room.secondPlayer.nickname }}</span>
			</p>
		</div>
	</div>

	<div class="panel-footer">
		<button (click)="createRoom()" class="btn btn-primary">Create Room</button>
	</div>
</div>