table {
	width: 500px;
	height: 500px;
}

.cell-clear:hover {
	background-color: khaki;
} 

.cell-clear {
	background-color: lightsteelblue;
}

.cell-selected {
	background-color: limegreen;
}

.cell-ship {
	background-color: slateblue;
}

.cell-miss {
	background-color: seashell;
}

.cell-hit {
	background-color: tomato;
}