<div class="container-fluid">
	<div class="row" *ngIf="!gameEnd">
		<div class="col-12" align="center">
			<app-field [field]="yourBattlefield" [isOpponent]="false"></app-field>
		</div>
	</div>
	<div class="row text-center" height="50">
		<div class="col-12">
			<h2 [ngClass]="{'bg-primary': isYourStep }">{{ you.nickname }}</h2>
			<h3 [ngClass]="{'text-success': areYouWinner && gameEnd, 'text-danger': !areYouWinner && gameEnd}">
				{{ centralMessage }}
			</h3>
			<h2 [ngClass]="{'bg-primary': !isYourStep }">{{ opponent.nickname }}</h2>
		</div>
	</div>
	<div class="row" *ngIf="!gameEnd">
		<div class="col-12" align="center">
			<app-field [field]="opponentBattlefield" [isOpponent]="true" (cellClick)="makeShootCell($event)"></app-field>
		</div>
	</div>
</div>