<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]='["/"]'>Battle sea</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
          <ul class='nav navbar-nav'>
            <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a [routerLink]='["/"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-home'></span> Home
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/chat"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-th-list'></span> Chat
              </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
              <a [routerLink]='["/battlesea"]' (click)='collapse()'>
                <span class='glyphicon glyphicon-th-list'></span> Battlesea
              </a>
            </li>
          </ul>
        </div>
        <div>
          <a class="nav-item nav-link" href="#">Submarine size 1 (4)</a><br>
          <a class="nav-item nav-link" href="#">Destroyer size 2 (3)</a><br>
          <a class="nav-item nav-link" href="#">Cruiser size 3 (2)</a><br>
          <a class="nav-item nav-link" href="#">Battleship size 4 (1)</a><br>
        </div>
    </div>
</div>
